html, body{
  border:0;
  margin:0;
  padding:0;
}

body{
  font-size:13px;
  font-family:Georgia, Times New Roman, Arial, Helvetica, sans-serif;
  line-height:17px;
  color:#000;
}
body { background:#a7e2ff url(img/index/bg.jpg) center 0 no-repeat; }
